<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "web.shoppingmall.mapper.OptionMapper">
	
	<insert id="optionReg" parameterType="web.shoppingmall.domain.OptionDTO">
	    <selectKey keyProperty="optionNo,optionReg,optionUpdate"
	    	resultType="web.shoppingmall.domain.OptionDTO" order="BEFORE">
			SELECT
				'o'
    			|| to_char(sysdate, 'YYYYMMDD')
    			|| substr(o_seq.NEXTVAL + 10000, 2) as optionNo,
				SYSDATE as optionReg,
				SYSDATE as optionUpdate
			FROM
				DUAL
		</selectKey>
		<![CDATA[
			INSERT INTO options VALUES (
				#{optionNo},
				#{optionName},
				#{optionDetail},
				#{optionStock},
				#{optionPrice},
				#{productNo},
				#{optionReg},
				#{optionUpdate}
			)		
		]]>
	</insert>
		
</mapper>
